*{
    padding: 0;
    margin: 0;
}
.logo{
    width: 300px;
    height: 150px;
}
.navbar{
    background-color: #989C7C;
    color: #C9C9C9;
    padding: 1rem;
    font-family: Roboto;
}
.navbar img{
    background-color: #989C7C;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.navbar2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
ul a{
    text-decoration: none;
    color: #C9C9C9;
}
li{
    list-style: none;
    font-size: 20px;
    padding: 1rem;
    display: inline;
}
.fa-magnifying-glass{
    font-weight: bold; 
}
.plant{
    width: 1440px;
    height: 500px;
    position: relative;
}
.banner h2{
    font-size:30px;
    position: absolute;
    left: 45%;
    bottom: 40%;
    color: #C97C1D;
    font-family: Roboto;
}
.bodyp h1{
    text-align: center;
}
.bodyp h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #575757;
    font-family: dancing moon script;
    font-size: 45px;
    font-weight:lighter;
}
h2{
    font-family: roboto;
}
p{
    font-family: roboto;
}
.skincare{
    display: grid;
    justify-content: center;
    padding:3rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.skincare img{
    width: 200px;
    height: 200px;
}
.skincare h2{
    font-size: 30px;
}
.skincare p{
    font-size: 20px;
    text-align: center;
}
.haircare{
    display: grid;
    justify-content: center;
    padding:3rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.haircare img{
    width: 200px;
    height: 200px;
}
.haircare h2{
    font-size: 30px;
}
.haircare p{
    font-size: 20px;
    text-align: center;
}
.makeup{
    display: grid;
    justify-content: center;
    padding:3rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.makeup img{
    width: 200px;
    height: 200px;
}
.makeup h2{
    font-size: 30px;
}
.makeup p{
    font-size: 20px;
    text-align: center;
}
footer{
    background-color: #989C7C; 
    padding: 2rem;
    font-family: Roboto;
}
footer :nth-child(1){
    position: relative;
    top: 70px;
    font-size: x-small;
    color: #C9C9C9;
}
footer :nth-child(2){
    font-size: small;
    text-align: center;
    color: #C9C9C9;
}