@media screen and (min-width: 961px){
*{
    padding: 0;
    margin: 0;
}
.logo{
    width: 300px;
    height: 150px;
}
.navbar{
    background-color: #989C7C;
    color: #C9C9C9;
    padding: 1rem;
    font-family: Roboto;
}
.navbar img{
    background-color: #989C7C;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.navbar2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
ul a{
    text-decoration: none;
    color: #C9C9C9;
}
li{
    list-style: none;
    font-size: 20px;
    padding: 1rem;
    display: inline;
}
.fa-magnifying-glass{
    font-weight: bold; 
}
.plant{
    width: 1440px;
    height: 500px;
    position: relative;
}
.banner h2{
    font-size:30px;
    position: absolute;
    left: 45%;
    bottom: 40%;
    color: #C97C1D;
    font-family: Roboto;
}
.bodyp h1{
    text-align: center;
}
.bodyp h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #575757;
    font-family: dancing moon script;
    font-size: 45px;
    font-weight:lighter;
}
h2{
    font-family: roboto;
}
p{
    font-family: roboto;
}
.skincare{
    display: grid;
    justify-content: center;
    padding:3rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.skincare img{
    width: 300px;
    height: 300px;
}
.skincare h2{
    font-size: 30px;
    position: relative;
    left: 30%;
    bottom: 30%;
    color: #575757;
}
.skincare p{
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 120%;
    bottom: 180%;
    color: #707070;
}
.haircare{
    display: grid;
    justify-content: center;
    padding:3rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.haircare img{
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 50%;
}
.haircare h2{
    font-size: 30px;
    position: relative;
    left: 30%;
    bottom: 80%;
    color: #575757;
}
.haircare p{
    font-size: 20px;
    text-align: center;
    position:  relative;
    left: 120%;
    bottom: 270%;
    color: #707070;
}
.makeup{
    display: grid;
    justify-content: center;
    padding:3rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
.makeup img{
    width: 300px;
    height: 300px;
    position: absolute;
    top:102rem;
}
.makeup h2{
    font-size: 30px;
    position: relative;
    left: 154%;
    bottom: 420%;
    color: #575757;
}
.makeup p{
    font-size: 20px;
    text-align: center;
    position: relative;
    left: -26%;
    bottom: 270%;
    padding-left: 10rem;
    color: #707070;
}
footer{
    background-color: #989C7C; 
    padding: 2rem;
    font-family: Roboto;
}
footer :nth-child(1){
    position: relative;
    top: 70px;
    font-size: x-small;
    color: #C9C9C9;
}
footer :nth-child(2){
    font-size: small;
    text-align: center;
    color: #C9C9C9;
}
}
@media screen and (max-width: 960px){
    *{
        padding: 0;
        margin: 0;
    }
    .logo{
        width: 300px;
        height: 150px;
    }
    .navbar{
        background-color: #989C7C;
        color: #C9C9C9;
        padding: 1rem;
        font-family: Roboto;
    }
    .navbar img{
        background-color: #989C7C;
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
    .navbar2{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    ul a{
        text-decoration: none;
        color: #C9C9C9;
    }
    li{
        list-style: none;
        font-size: 20px;
        padding: 1rem;
        display: inline;
    }
    .fa-magnifying-glass{
        font-weight: bold; 
    }
    .plant{
        width: 540px;
        height: 300px;
    }
    .banner h2{
        font-size:30px;
        position: absolute;
        left: 45%;
        bottom: 45%;
        color: #C97C1D;
        font-family: Roboto;
    }
    .bodyp h1{
        text-align: center;
    }
    .bodyp h1{
        padding-top: 2rem;
        padding-bottom: 2rem;
        color: #575757;
        font-family: dancing moon script;
        font-size: 45px;
        font-weight:lighter;
    }
    h2{
        font-family: roboto;
    }
    p{
        font-family: roboto;
    }
    .skincare{
        display: grid;
        justify-content: center;
        padding:2rem;
        gap: 1rem;
        grid-template-columns: 300px 1fr;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }
    .skincare img{
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: -21%;
    }
    .skincare h2{
        font-size: 30px;
        position: relative;
        left: 100%;
        bottom: 65%;
        color: #575757;
    }
    .skincare p{
        font-size: 18px;
        text-align: center;
        position: relative;
        left: -23%;
        bottom: -10%;
        color: #707070;
    }
    .haircare{
        display: grid;
        justify-content: center;
        grid-template-columns: 300px 1fr;
        gap: 1rem;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }
    .haircare img{
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: -60%;
        padding: 2rem;
    }
    .haircare h2{
        font-size: 30px;
        position: relative;
        left: 110%;
        bottom: 15%;
        color: #575757;
    }
    .haircare p{
        font-size: 18px;
        text-align: center;
        position:  relative;
        left: -23%;
        bottom: -55%;
        color: #707070;
    }
    .makeup{
        display: grid;
        justify-content: center;
        grid-template-columns: 300px 1fr;
        gap: 1rem;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }
    .makeup img{
        width: 200px;
        height: 200px;
        position:relative;
        bottom:-35%;
        padding: 2rem;
    }
    .makeup h2{
        font-size: 30px;
        position: relative;
        left: 10%;
        bottom: -10%;
        color: #575757;
    }
    .makeup p{
        font-size: 18px;
        text-align: center;
        position:relative;
        left: 70%;
        bottom: 95%;
        padding-left: 3rem;
        color: #707070;
    }
    footer{
        background-color: #989C7C; 
        padding: 2rem;
        font-family: Roboto;
    }
    footer :nth-child(1){
        position: relative;
        top: 70px;
        font-size: x-small;
        color: #C9C9C9;
    }
    footer :nth-child(2){
        font-size: small;
        text-align: center;
        color: #C9C9C9;
    }
}